name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
    unit-test:
        container: cuaesd/aesd-autotest:24-unit-test
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v3
          
          - name: Initialize submodules (skip broken Unity)
            run: |
              git config --global --add safe.directory /__w/assignment-2-omkarsangrulkar/assignment-2-omkarsangrulkar
              git config --global --add safe.directory /__w/assignment-2-omkarsangrulkar/assignment-2-omkarsangrulkar/assignment-autotest
              git submodule update --init assignment-autotest
              
          - name: Run unit test
            run: ./unit-test.sh
